* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    align-items: start;
    max-width: 1600px;
    margin: auto;
}

#logo {
    grid-column: 1;
    grid-row: 1;
    margin-left: 30;
    align-self: flex-start;
    text-align: right;
}

#name {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
}

#name h1 {
    font-size: 24px;
    text-align: right;
}

#name h2 {
    text-align: right;
    font-size: 20px;
}

.color-change {
    color: #3366cc;
}

#iconlist {
    justify-self: end;
    align-self: center;
    display: inline-block;
    letter-spacing: 3px;
    float: left;
    grid-column: 3;
    grid-row: 2;
}

.fa {
    color: gray
}

.fa-envelope-square:hover {
    color: #D44638;
}

.fa-github-square:hover {
    color: black;
}

.fa-linkedin-square:hover {
    color: #0077B5;
}
.fa-facebook-square:hover {
    color: #3C5A99;
}

.fa-twitter-square:hover {
    color: #1DA1F2;
}

.fa-instagram:hover {
    color: #c13584;
}

#projects-header {
    height: 7px;
    color: #7DD6E8;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 20px;
    grid-column: 1/4;
    grid-row: 3;
    text-align: left;
    margin-bottom: 70px;
    margin-left: 30px;
    margin-top: 10px;
}

#projects-header h2 {
    color: #3366cc;
    text-align: left;
    margin-left: 10px;
    font-size: 30px;
}

.divider {
    background-color: #7DD6E8;
    height: 2px;
    border-radius: 10%;
    width: 100%;
    margin: 10px 30px 10px 0;
    background: linear-gradient(to right, #d6d6d6, #7DD6E8)
}

.pic-container {    
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10%;
    max-width: 60%;
    max-height: 150px; 
    overflow: hidden;
    display: inline-block;
    position: relative;
    color: grey;
}

.project-image {
    width: 100%;
    height: 150px;
    opacity: 1;
    transition: 0.2s;
    max-width: 100%;
    object-fit: scale-down;
}

.project-image:hover {
    opacity: 0.4;
    transition: 0.2s;
}

.title-shadowbox {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    z-index: 2;
    background-color: rgba(0,0,0,0.7);
}

.project-title {
    color: white;
    position: absolute;
    bottom: 5px;
    max-width: 100%;
    z-index: 3;
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    text-align: left;
}

#project1 {
    grid-column: 1;
    grid-row: 4;
}

#project2 {
    grid-column: 2;
    grid-row: 4;
}

#project3 {
    grid-column: 3;
    grid-row: 4;
}

#project4 {
    grid-column: 1;
    grid-row: 5;
}

#project5 {
    grid-column: 2;
    grid-row: 5;
}

#project6 {
    grid-column: 3;
    grid-row: 5;
}

#project7 {
    grid-column: 1;
    grid-row: 6;
}

#projects-contribute-header {
    height: 7px;
    color: #7DD6E8;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 20px;
    grid-column: 1/4;
    grid-row: 7;
    text-align: left;
    margin-bottom: 70px;
    margin-left: 30px;
    margin-top: 10px;
}

#projects-contribute-header h2 {
    color: #3366cc;
    text-align: left;
    margin-left: 10px;
    font-size: 30px;
}

#contribute1 {
    grid-column: 1;
    grid-row: 8;
}

#contribute2 {
    grid-column: 2;
    grid-row: 8;
}

#contribute3 {
    grid-column: 3;
    grid-row: 8;
}

#contribute4 {
    grid-column: 1;
    grid-row: 9;
}

.resume-header {
    height: 7px;
    color: #7DD6E8;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 20px;
    grid-column: 1/4;
    grid-row: auto;
    text-align: left;
    margin-bottom: 70px;
    margin-left: 30px;
    margin-top: 10px;
}

.resume-header h2 {
    color: #3366cc;
    text-align: left;
    margin-left: 10px;
    font-size: 30px;
}

.resume-section {
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: 75%;
    width: 75%;
}

li, ul, span {
    text-align: left;
}

li {
    color:  black;
}

span {
    color: black;
    text-align: left;
}

.title {
    font-size: 1.2em;
    font-weight: 700;
    color:  #008B8B;
}
.resume {
    font-style: italic;
}

.location, .dates {
    float: right;
}

.title, .resume {
    clear: left;
    float: left;
}

.bigbr {
    display: none;
}

#contribution {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 40px;
    margin-right: 10px;
    margin-top: 30px;
}
#contribution p {
    text-align: left;
}


/**
 * Tooltip Styles
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:    
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px); 
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px); 
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px); 
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px); 
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}