.header-name {
    font-family: 'Nova Square';
    font-size: 150%;
}

.hex-image {
    padding-right: 1vh;
    display: flex;
    align-content: center;
}

.ul-link {
    text-decoration: underline;
}

.color-gusto {
    color: #F45D48
}

.color-gusto:hover {
    color: hsl(219, 70%, 96%)
}