.project-box {
    background-color:hsl(0, 0%, 55%);
    max-height: 100%;
    width: 100%;
}

.project-image {
    max-height: 25vh;
    width: auto !important;
}

.project-card {	
    background-color:hsl(0, 0%, 90%);	
}

.modal-image {
    max-width: 70%;
    /* max-height: 10%; */
    width: auto !important;
}

.contact-modal-button {
    background-color:hsl(217, 79%, 45%);
}

.header-name {
    font-family: 'Nova Square';
    font-size: 150%;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 15px solid #FFFFFF;
    border-bottom: 10px solid transparent;
    padding-right: 10px;
}